@page "/help"
@layout MainLayout

<PageTitle>Помощь</PageTitle>

<h3>Help</h3>

@code {
    #region [Parameters]

    #endregion

    #region [Properties]

    #endregion

    #region [SecondoryMethods]

    #endregion

    #region [MainMethods]

    #endregion

    #region [OnInit]


    #endregion
}
