@page "/home"
@layout MainLayout

<PageTitle>Главная</PageTitle>

<h3>Home</h3>


@code{
    #region [Parameters]

    #endregion

    #region [Properties]

    #endregion

    #region [SecondoryMethods]

    #endregion

    #region [MainMethods]

    #endregion

    #region [OnInit]


    #endregion
}
