@page "/profile"

@inject IAuthService AuthenticationService
@inject NavigationManager NavigationManager

@layout MainLayout


<div>


</div>


@code{
    #region [Properties]

    #endregion

    #region [SecondoryMethods]

    #endregion

    #region [MainMethods]

    #endregion

    #region [OnInit]
    protected override void OnInitialized()
    {

        
    }

    protected override async Task OnInitializedAsync()
    {

    }
    #endregion
}