@* <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Мир Оригами</h4>
                <ul>
                    <li><a href="course">О нас</a></li>
                    <li><a href="course">Наши сервисы</a></li>
                    <li><a href="course">Политика конфидициальности</a></li>
                    <li><a href="course">Реферальная программа</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Помощь</h4>
                <ul>
                    <li><a href="course">FAQ</a></li>
                    <li><a href="course">Покупка</a></li>
                    <li><a href="course">Возврат</a></li>
                    <li><a href="course">Статус заказа</a></li>
                    <li><a href="course">Варианты оплаты</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Магазин готовых изделий</h4>
                <ul>
                    <li><a href="course"></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Мы в соц сетях</h4>
                <ul>
                    <li><a href="course"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> *@